<main class="container">
  <%= for {key, class} <- [{:info, "info"}, {:error, "danger"}] do %>
    <%= if get_flash(@conn, key) do %>
      <p class={"alert alert-#{class}"} role="alert">
        <%= get_flash(@conn, key) %>
      </p>
    <% end %>
  <% end %>
  <%= @inner_content %>
</main>
