<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Quiver" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href={Routes.page_path(@conn, :index)}>Quiver</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link "Home",
              to: Routes.page_path(@conn, :index),
              class: active_link(@conn, "home") %>
          </li>
          <li class="nav-item">
            <%= link "Lanes", to: Routes.lane_path(@conn, :index), class: active_link(@conn, "lanes") %>
          </li>
          <li class="nav-item">
            <%= link "Reservations", to: Routes.reservation_path(@conn, :index), class: active_link(@conn, "reservations") %>
          </li>
          <li class="nav-item">
            <%= link "Users", to: Routes.user_path(@conn, :index), class: active_link(@conn, "users") %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= @inner_content %>
    </div>
  </body>
</html>
