<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Quiver" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
      <a class="navbar-brand" href={Routes.page_path(@conn, :index)}><i class="fa-solid fa-bullseye"></i> Quiver</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link "Home",
              to: Routes.page_path(@conn, :index),
              class: active_link(@conn, "home") %>
          </li>
          <li class="nav-item">
            <%= link "Reservations", to: Routes.reservation_path(@conn, :index), class: active_link(@conn, "reservations") %>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%= if @current_user do %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="user-settings-dropdown" data-bs-toggle="dropdown">
                <i class="fa-solid fa-user"></i> <%= @current_user.email %>
              </a>
              <ul class="dropdown-menu" aria-labelled-by="user-settings-dropdown">
                <li>
                  <%= link to: Routes.user_settings_path(@conn, :edit), class: "dropdown-item" do %><i class="fa-solid fa-gear"></i> Settings<% end %>
                </li>
                <li>
                  <%= link to: Routes.user_session_path(@conn, :delete), method: :delete, class: "dropdown-item" do %><i class="fa-solid fa-right-from-bracket"></i> Log Out<% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item me-2">
              <%= link to: Routes.user_registration_path(@conn, :new), class: "btn btn-primary btn-sm" do %><i class="fa-solid fa-plus"></i> Register<% end %>
            </li>
            <li class="nav-item">
              <%= link to: Routes.user_session_path(@conn, :new), class: "btn btn-success btn-sm" do %><i class="fa-solid fa-key"></i> Log In<% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= @inner_content %>
    </div>
  </body>
</html>
