<div class="d-grid gap-1">
  <div class="text-center">
    <h1>Lanes</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-4">
      <ul class="list-group">
        <%= for lane <- @lanes do %>
          <li class="list-group-item text-center"><%= lane.number %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
