<h1>Show Lane</h1>

<ul>

  <li>
    <strong>Number:</strong>
    <%= @lane.number %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @lane.notes %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.lane_path(@conn, :edit, @lane) %></span> |
<span><%= link "Back", to: Routes.lane_path(@conn, :index) %></span>
